*{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    margin: 20px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.164) ,rgba(255, 255, 255, 0.164)),url("welcome.jpg");
    background-size: cover;
}

.tampung{
    text-align: center;
    margin-top: 24%;
}
h1{
    padding: 10px;
}
a{
    padding: 10px;
    margin: 10px;
    background-color: lightcoral;
    border-radius: 5%;
    text-decoration: none;
    color: rgb(240, 248, 255);
}
a:hover{
    background-color: lightskyblue; 
    color: red;
}